body {
	background: rgb(165, 165, 165);
}
a {
	color: #990003;
}
.content {
	width: 950px;
	margin: 0 auto;
	margin-top: 80px;
	border-top: 10px solid black;
	border-bottom: 5px solid black;

	/* background: #f5f5f5; */
	/* background-color: rgb(255, 255, 255); */
	padding: 100px;

	background: rgb(255, 255, 255);
	box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}

.contact-detail {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.name {
	width: 400px;
}
.name h1 {
	margin-top: 0;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: Georgia;
	text-align: justify;
	text-justify: inner-word;
	font-weight: normal;
}
.name h2 {
	text-transform: uppercase;
	color: #666;
	margin-top: -30px;
	font-family: Georgia;
	text-align: justify;
	text-justify: inner-word;
	font-style: italic;
	font-weight: normal;
}
.contacts {
	width: 200px;
	margin-right: 100px;
}
.contacts h3 {
	margin: 0;
	color: #333;
	font-weight: normal;
}
.contacts a {
	color: #990003;
}

/* Extra Details CSS */

.licensing {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	width: 100%;
	display: flex;

	justify-content: space-between;
}
.licensing-heading {
	width: 20%;
}
.licensing-heading h2 {
	font-style: italic;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 0;
}
.licensing-content {
	width: 80%;
}
.licensing-content img {
	width: 100px;
	height: 100px;
	display: block;
}
.first-row,
.second-row {
	display: flex;
	margin-bottom: 5px;
}

.technical {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	width: 100%;
	display: flex;

	justify-content: space-between;
}
.technical-heading {
	width: 20%;
}
.technical-heading h2 {
	font-style: italic;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 0;
}
.technical-content {
	width: 80%;
}
.skills-row {
	display: flex;
	width: 100%;
}
.skill {
	background: #ff5c5cb4;
	padding: 7px;
	text-align: center;
	font-size: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 150px;
	margin-right: 15px;
	cursor: pointer;
	margin-bottom: 15px;
}
.skill:hover {
	color: white;
}

/* Experience */

.experience {
	padding-top: 20px;
	padding-bottom: 35px;
	border-bottom: 1px solid #ccc;
	width: 100%;
	display: flex;

	justify-content: space-between;
}
.exp-heading {
	width: 20%;
}
.exp-heading h2 {
	font-style: italic;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 0;
}
.exp-content {
	width: 80%;
}
.exp-content-item {
	border-bottom: 1px solid #ccc;
	padding-top: 25px;
}
.exp-title-row {
	display: flex;

	justify-content: space-between;
}
.exp-title h3,
h4 {
	margin-top: 0;
	margin-bottom: 1px;
	font-weight: normal;
}
.exp-date h4 {
	margin-top: 0;
}
.exp-details {
	width: 80%;
}
.exp-details ul {
	padding-left: 17px;
}

/* projects */

.projects {
	padding-top: 20px;
	padding-bottom: 35px;
	border-bottom: 1px solid #ccc;
	width: 100%;
	display: flex;

	justify-content: space-between;
}
.proj-heading {
	width: 20%;
}
.proj-heading h2 {
	font-style: italic;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 0;
}
.proj-content {
	width: 80%;
	border-bottom: 1px solid #ccc;
}

.proj-title-row {
	display: flex;

	justify-content: space-between;
}
.proj-title h3,
h4 {
	margin-top: 0;
	font-weight: normal;
	margin-bottom: 0;
}
.proj-title a {
	color: #990003;
}
.proj-date h3 {
	margin-top: 0;
	font-weight: normal;
}

.footer-text {
	text-align: center;
}
/* Utility Classes */
.pt-0 {
	padding-top: 0;
}
